.instruction
    min-height: 500px
    padding-bottom: 50px
    &__wrapper
        margin-top: 20px
        padding-right: 15px
        display: flex
        justify-content: space-around
    &__descr
        font-size: 17px
        font-weight: 300
        color: $text-color
        text-align: center
    img
        width: 300px